html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
html{height:100%}
body{height:100%;margin:0;padding:0}

#mapCanvas{
	height:100%;
	z-index:1
}

#lock{
	position: absolute;
	height: 120px;
	width: 120px;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
	background-image: url('/static/lock.png');
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 1;
	color: white;
	text-align: center;
	font-family: helvetica;	
	cursor: pointer;
	pointer-events: none;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opactiy 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

#lock span {
	display: block;
	position: relative;
	top: 80px;
}

#members {
	font-weight: bold;
	top: 90px !important;
	color: black;
}

.opaque {
	opacity: 1 !important;
	pointer-events: auto !important;
}